html, body
{
    padding: 0px;
    margin:0px;
    width:100%;
    background-color: #262626;
}
canvas
{
    display:block;
    border:2px solid #000000;
    margin: 20px auto;
}
.describe
{
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
    border: 2px solid #000000;
    margin:20px;
    padding:20px;
}